<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="javascripts/timer.js"></script>
  <script src="javascripts/typing.js"></script>
  <script src="application.js"></script>
</head>

<body>

<div id="container">

  <div id="header">
    <h1>type it out.</h1>
  </div>

  <div id="text-to-type">
    <span id="test-string"><%= @passage.text %></span>
    <div id="highlighted-text">
    </div>
  </div>

  <div id="text-box">
    <input id="typing-zone" type="text" name="Type Box" placeholder="type.">
  </div>
  <div id="text"></div>
  <div id="stats">
    <div id="wpm"></div>
    <div id="time-elapsed"></div>
    <div id="accuracy"></div>
  </div>

</div>

</body>
</html>
