<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="vendors/jquery.js"></script>
  <script src="javascripts/timer.js"></script>
  <script src="javascripts/typing.js"></script>
  <script src="application.js"></script>
</head>

<body>

<div id="container">

  <div id="header">
    <span class="type">type</span> it out.
  </div>

  <div id="text-to-type">
    <span id="test-string"><%= @passage.text %></span>
    <div id="highlighted-text">
    </div>
  </div>

  <div id="text"></div>
  <div id="stats">
    <div class="stats hidden">words per minute == <span id="wpm"></span></div>
    <div class="stats hidden">total seconds == <span id="time-elapsed"></span></div>
    <div class="stats hidden">accuracy == <span id="accuracy"></span>%</div>
  </div>

</div>

<div id="footer">
  a gopher snake original production. text samples scraped from g snake blogs. made during fall 2013 while at dev bootcamp.
</div>

</body>
</html>
