body {
  margin:0 auto;
  font-size:16pt;
}

#container {
  width:100%;
  text-align:left;
  font-family:helvetica;
  font-weight:700;
  margin-left:1em;
}

#header {
  font-family:helvetica;
  font-size:2.3em;
}

#highlighted-text {
  font-size:2em;
  width:25em;
  line-height:1em;
}

#test-string {
  display:none;
}

.letters {
  white-space:pre;
  margin:0px;
}

.spaces {
  margin:0px;
}

#active {
  color:white;
  background:blue;
}

.done {
  color:white;
  background:blue;
}

#text-box {
  margin-top:1em;
  font-size:1em;
}

#text {
  display:none;
}

#typing-zone {
  text-align:left;
  font-size:1em;
  padding:5px;
  width:10em;
}

#stats {
  font-family:helvetica;
  font-size:1em;
  font-weight:700;
  margin-top:2em;
}

.hidden {
  display:none;
}